@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300; 400; 500; 600; 700; 800; 900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    align-items: center;
    z-index: 100;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 40px;
    font-weight: 700;
}

.danger-icon {
    font-size: 60px;
    color: #00ff00;
    /* Pure Green */
    text-shadow: 0 0 5px #b7ec06,
        0 0 10px #0da2f2,
        0 0 20px #00ff00,
        0 0 40px #00ff00,
        0 0 80px #00ff00;
    animation: glow-pulse 2s infinite;
}

@keyframes glow-pulse {
    0% {
        text-shadow: 0 0 1px #effcef,
            0 0 5px #00ff00,
            0 0 10px #00ff00,
            0 0 30px #107efc;
    }

    50% {
        text-shadow: 0 0 5px #e7ede7,
            0 0 10px #eff5ef,
            0 0 20px #00ff00,
            0 0 60px #dd0ef0;
    }

    100% {
        text-shadow: 0 0 8px #000000,
            0 0 5px #d9c212,
            0 0 10px #00ff00,
            0 0 40px #ec1124;
    }
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    margin-left: 90px;
    text-align: left;
    text-decoration: #00ff00;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .30;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.3s;
}

.home-info h1 {
    font-size: 50px;
}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -5px;
}

.home-info h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    -100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 0px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 20%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sic {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sic .sic {
    margin: 20px;
}

.home-info .btn-sic .sic a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sic .sic a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 9s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: -95px;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars.5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}
